<div style="text-align:center">
    <h2>Login Screen</h2>
    <div style="text-align:center">
        <form (ngSubmit)="submitForm()" [formGroup]="loginForm" novalidate>
            <label for="employeeId">Employee ID </label>
            <input type="text" formControlName="emplyeeId" id="emplyeeId" placeholder="employeeId">
            <br>
            <label for="password">Password </label>
            <input type="password" formControlName="employeePassword" id="employeePassword" placeholder="password">
            <br>
            <input type="submit" name="submit" value="submit">
            <a>
                <button>Cancel</button>
            </a>
        </form>
    </div>
</div>