<h1>EMPID1 Dashboard </h1>

<div class="row">
    <div class="col-sm-4">
        <div class="card border-primary mb-3" style="max-width: 100rem;">
            <div class="card-header">My Details Section</div>
            <div class="card-body">
                <h4 class="card-title">EMPID1 Details</h4>
                <p class="card-text">Data to be decided later.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card border-primary mb-3" style="max-width: 100rem;">
            <div class="card-header">My Manager Details Section</div>
            <div class="card-body">
                <h4 class="card-title">Manager Details</h4>
                <p class="card-text">contents to Be dicided.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <div class="card border-primary mb-3" style="max-width: 100rem;">
            <div class="card-header">My Leave Applications section</div>
            <div class="card-body">
                <h4 class="card-title">Leaves</h4>
                <p class="card-text">Contents TODO.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <div class="card border-primary mb-3" style="max-width: 100rem;">
            <div class="card-header">My Reporting Employees' Pending Leaves Application Section</div>
            <div class="card-body">
                <h4 class="card-title">Reportees</h4>
                <p class="card-text">Content TODO.</p>
            </div>
        </div>
    </div>
</div>