<div class="jumbotron">
    <h1>{{employeeId}} Dashboard </h1>

    <div class="row">
        <div class="col-sm-4">
            <div class="card border-primary mb-3" style="max-width: 100rem;">
                <div class="card-header">My Details Section</div>
                <div class="card-body">
                    <button type="button" class="btn btn-link" (click)=myDetails()>
                        My Details
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-primary mb-3" style="max-width: 100rem;">
                <div class="card-header">My Manager Details Section</div>
                <div class="card-body">
                    <button type="button" class="btn btn-link" (click)=managerDetails()>
                        Manager Details
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card border-primary mb-3" style="max-width: 100rem;">
                <div class="card-header">My Leave Applications section</div>
                <div class="card-body">
                    <button type="button" class="btn btn-link" (click)=myLeaves()>
                        My Leaves
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <div class="card border-primary mb-3" style="max-width: 100rem;">
                <div class="card-header">My Reporting Employees' Pending Leaves Application Section</div>
                <div class="card-body">
                    <button type="button" class="btn btn-link" (click)=myReportees()>
                        My Reporting Employees
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>